# Konfigurasi Database (untuk API Routes)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=agrosync_db

# Port untuk API Server (Express) saat pengembangan lokal
API_PORT=3001
# URL API (Frontend akan memanggil backend di port ini saat pengembangan lokal).
# DI PRODUKSI (CPANEL), INI HARUS DIUBAH MENJADI URL APLIKASI NODE.JS ANDA.
NEXT_PUBLIC_API_URL=http://localhost:3001